{% extends "index.html" %}
{% block title %}Meetings{% endblock %}
{% block navbutton %}<a class="navbar-brand text-light btn btn-success add-link" href="{% url 'meeting:meeting_create' %}"><i class="bi bi-plus-square"></i><small class="text-dark add-board">Add Board</small></a>{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<style>
.meeting-holder{
margin-top: 80px;
display: flex;
flex-direction: column;
justify-contents: center;
border: 1px solid #ccc;
padding: 10px;
max-width: 550px;
border-radius: 5px;
}
.meeting-header{
display: flex;
justify-content: space-between;
}

.meeting-card{
margin-top: 5px;
width: 100%;
padding: 20px;
border-bottom: 1px solid #ccc;
}
.meeting-card-holder{
height: 100vh;
overflow-y: scroll;
}
}
.date-tag{
display: flex;
justify-content: space-between;
}

.search{
display: flex
padding: 15px;
width: 60%;
margin: auto;
}

form{
display: flex;
}

label{
display: none;
}
.del-editicons{
display: flex;
}
</style>
<section>
    <div class="container meeting-holder">
        <h1 class="text-center" >Choose a board to join</h1>
        <div class="search">
            <form method="get" id="searchForm">
                {{ meetings.form|crispy }}
                <button input="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        <div class="meeting-card-holder">
        {% for meeting in object_list %}
        <div class="meeting-card">
            <div class="meeting-header">
                <h4 style="color:teal">{{ meeting.name }}</h4>
                <div class="del-editicons">
                    <a href="{% url 'meeting:meeting_update' slug=meeting.slug %}"><i class="bi bi-pencil-square"></i></a></span>
                    <a href="{% url 'meeting:meeting_delete' slug=meeting.slug %} "><i style="color: red;" class="bi bi-trash"></i></a>
                </div>
            </div>
            <p>{{ meeting.theme }}</p>
            <div class="date-tag">
                <small style="font-size: 10px; margin-right: 20px; font-weight: bold;">{{ meeting.dateScheduled }}</small>
                <a style="text-decoration:unset;" href="{% url 'meeting:agenda_list' slug=meeting.slug %}"><button class="btn btn-primary">Join</button></a>
            </div>
        </div>
        {% empty %}
            <h5 class="text-danger p-5">Board not found</h5>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}