{% extends "index.html" %}
{% block title %}Edit Minutes{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<style>
    .form-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    }

    .btnu{
    margin: auto;
    width: 10%;
    display: flex;
    justify-content: center;
    }

    label{
    display: none;
    }

</style>

<div class="container form-container">
    <h3 class="text-center">Delete {{ object.name }}?</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3 btnu"><i class="bi bi-trash"></i></button>
    </form>
</div>
{% endblock %}